<%= turbo_frame_tag dom_id(message),
                    class: 'pb-1 px-3',
                    data: {
                        controller: 'message',
                        action: 'mouseout->message#toggleActions mouseover->message#toggleActions',
                        'message-user-id-value': message.user_id } do %>

<!--  <div class="media media-meta-day">Today</div>-->

  <div class="media media-chat <%= 'media-chat-reverse' if message_from_current_user?(message) %>">
    <% unless message_from_current_user?(message) %>
      <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
    <% end %>

    <div class="media-body">
      <p style="max-width: 400px"><%= message.content %></p>
      <p class="meta"><time datetime="<%= message.created_at_year %>"><%= message.created_at_time %></time></p>
    </div>
  </div>

  <div class='col d-none' data-message-target='actions'>
    <%#= link_to 'edit', edit_message_path(message), class: 'fs-7 link-secondary' %>
    <%#= link_to 'delete', message_path(message), method: :delete, class: 'fs-7 link-secondary' %>
  </div>
<% end %>
