<div class="card">
  <div class="card-header">
    <h4 class="card-title"><strong>Login</strong></h4>
  </div>

  <%= form_with model: @user, url: user_login_path, method: :post, html: {class: ""} do |form| %>
    <div class="card-body">
      <div class="form-group">
        <%= form.text_field :email, class: "form-control #{bootstrap_form_error_class(form, :email)}", placeholder: "E-mail"  %>
        <%= bootstrap_form_errors(form, :email) %>
      </div>
      <div class="form-group">
        <%= form.password_field :password, class: "form-control #{bootstrap_form_error_class(form, :password)}", placeholder: "Senha" %>
      </div>
      <div class="form-group text-right">
        <%= link_to "Esqueci minha senha", forgot_password_path %>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <%= form.submit "Entrar", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for(:after_content) do %>
  Não tem conta ainda?
  <%= link_to "Crie sua conta aqui", user_register_path, class: "btn btn-link" %>
<% end %>