<!-- Modal -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastre-se</h5>
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
      </div>
      <%= form_with model: @user, url: user_register_path, method: :post, html: {class: ""} do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.text_field :name, class: "form-control #{bootstrap_form_error_class(form, :name)}", placeholder: "Nome" %>
            <%= bootstrap_form_errors(form, :name) %>
          </div>
          <div class="form-group">
            <%= form.text_field :nickname, class: "form-control", placeholder: "Apelido" %>
          </div>
          <div class="form-group">
            <%= form.text_field :email, class: "form-control #{bootstrap_form_error_class(form, :email)}", placeholder: "E-mail"  %>
            <%= bootstrap_form_errors(form, :email) %>
          </div>
          <div class="form-group">
            <%= form.password_field :password, class: "form-control #{bootstrap_form_error_class(form, :password)}", placeholder: "Senha" %>
          </div>
          <div class="form-group">
            <%= form.password_field :password_confirmation, class: "form-control #{bootstrap_form_error_class(form, :password_confirmation)}", placeholder: "Confirmar Senha" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Faça o login e divirta-se", posts_path, class: "btn btn-link" %>
          <%= form.submit "Cadastrar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="application/javascript">
  $(document).ready(function(){
    $("#register_modal").modal("toggle")
  })
</script>