<!-- form to create post -->
<div class="sticky-top pb-5 pt-5" style="top:68px; z-index: 99; background-color: white;">
  <%= form_for :post, url: posts_path, method: :post, html: {class: ""} do |form| %>
    <div class="form-group">
      <%= form.text_area :message, class: "form-control", placeholder: "No que você está pensando?" %>
    </div>
    <%= form.submit "Postar", class: "btn btn-primary" %>
  <% end %>
</div>

<!-- render posts -->
<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div data-infinite-scroll-target="entries">
    <%= render "posts" %>
  </div>

  <div data-infinite-scroll-target="pagination" class="d-none">
    <%== pagy_nav @pagy %>
  </div>
</div>
