<!DOCTYPE html>
<html>
<head>
  <title>TwisterV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>

<div class="grid wrapper">

  <%= render "layouts/partials/topbar" %>

  <%= render "layouts/partials/sidebar" %>

  <% if content_for?(:navigation) %>
    <section class="navigation">
      <%= yield(:navigation) %>
    </section>
  <% end %>

  <section class="main">
    <%= render "layouts/partials/flash_messages" %>
    <%= yield %>
  </section>

  <% if content_for?(:ads) %>
    <section class="ads">
      <%= yield(:ads) %>
    </section>
  <% end %>

  <section class="footer"></section>
</div>

</body>
</html>
