<!DOCTYPE html>
<html>
<head>
  <title>TwisterV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>

<!-- Left -->
<%= render "layouts/partials/sidebar" %>

<!-- Main -->
<div id="twister-main">
  <%= render "layouts/partials/topbar" %>
  <%= render "layouts/partials/flash_messages" %>

  <div class="container">
    <%= yield %>
  </div>
</div>

<!-- Footer -->

</body>
</html>
