<!DOCTYPE html>
<html>
<head>
  <title>TwisterV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>

  <div class="container" >
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-md-8">

        <!--logo-->
        <div class="d-flex justify-content-center align-items-center my-5">
          <%= image_tag("logo/logo2.png", width: '120px') %>
        </div>

        <%= render "layouts/partials/flash_messages" %>
        <%= yield %>

        <!--after-->
        <div class="d-flex justify-content-center align-items-center mt-5">
          <%= content_for?(:after_content) ? yield(:after_content) : yield %>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
