<!DOCTYPE html>
<html>
<head>
  <title>TwisterV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>

<div class="d-flex" id="wrapper">

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <%= render "layouts/partials/flash_messages" %>
      <%= yield %>

    </div>
  </div>
</div>


</body>
</html>
